.main-container{
    padding-top: 118px;
    box-sizing: border-box;

    .visual-container{
        .visual-wrapper{
            width: 1440px;
            height: 100%;
            margin: 0px auto;
            position: relative;

            .visual-slide-container{
                width: 100%;
                height: 495px;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.1);

                .swiper-wrapper{
                    .swiper-slide{
                        & > a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .slide-nav-wrapper{
                width: 412px;
                height: 70px;
                border: solid 1px #ebebeb;
                border-radius: 15px;
                background-color: white;
                position: absolute;
                left: 100px;
                bottom: -36px;
                z-index: 1;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
                transition: 0.5s;
                transform: translateY(50px);
                opacity: 0;

                &.active{
                    transform: translateY(0);
                    opacity: 1;
                }

                .slide-btn-box{
                    display: flex;
                    align-items: center;
                    gap: 22px;
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    transform: translateY(-50%);

                    i{
                        color: $grayDark;
                        cursor: pointer;

                        &:hover{
                            color: $yellow;
                        }
                    }

                    .bx-chevron-right{
                        font-size: 26px;
                        display: none;
                    }

                    .bx-pause{
                        font-size: 26px;
                    }

                    .bx-left-arrow-alt,
                    .bx-right-arrow-alt{
                        font-size: 22px;
                    }
                }

                .slide-page-box{
                    width: 220px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    right: 25px;
                    transform: translateY(-50%);

                    .visual-pagination-fraction{
                        width: 100%;
                        height: 100%;
                        color: white;
                        position: relative;
                        top: -2px;
    
                        .swiper-pagination-current{
                            font-size: 15px;
                            color: $yellow;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 10px;
                        }
    
                        .swiper-pagination-total{
                            font-size: 15px;
                            color: $gray;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                        }
                    }
    
                    .visual-pagination-progressbar{
                        width: 165px;
                        height: 2px;
                        background-color: #ebebeb;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
    
                        span{
                            background-color: $yellow;
                        }
                    }
                }
            }
        }
    }//visual-container

    .section01-container{
        margin-top: 130px;
        display: flex;
        justify-content: center;
        gap: 36px;
        transform: translateY(300px);
        opacity: 0;
        transition: 0.5s;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }

        .text-wrapper{
            .title-box{
                & > h2{
                    color: $grayDark;
                    font-size: 45px;
                    letter-spacing: -1px;
                }

                & > a{
                    color: $grayDark;
                    font-size: 15px;
                    font-weight: 500;
                    letter-spacing: -0.5px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 25px 0px 40px;

                    & > img{
                        width: 24px;
                    }
                }
            }

            .category-box{
                display: flex;
                flex-direction: column;
                gap: 16px;

                & > li{
                    width: 285px;
                    height: 52px;
                    padding: 0px 24px 0px 16px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    border-bottom-left-radius: 22px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: 0.3s;
                    cursor: pointer;

                    .category-name{
                        display: flex;
                        align-items: center;
                        gap: 14px;

                        .icon{
                            width: 18px;
                            height: 18px;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: 90%;   
                        }

                        .category01{
                            // background-image: url('../../images/section01_onePOne.png');
                            background-image: url('/images/section01_onePOne.png');
                        }
                        .category02{
                            // background-image: url('../../images/section01_twoPOne.png');
                            background-image: url('/images/section01_twoPOne.png');
                        }
                        .category03{
                            // background-image: url('../../images/section01_new.png');
                            background-image: url('/images/section01_new.png');
                        }

                        .text{
                            color: $gray;
                            font-size: 16px;
                            transition: 0.3s;
                        }
                    }

                    & > i{
                        color: $grayDark;
                    }

                    &:hover{
                        background-color: $yellow;
                        box-shadow: 0px 8px 20px rgba(249, 187, 0, 0.3);
                    }

                    &:hover .text{
                        color: white;
                    }
                }

                & > li.on{
                    background-color: $yellow;
                    box-shadow: 0px 8px 20px rgba(249, 187, 0, 0.3);

                    .category-name{
                        .category01{
                            background-image: url('../../images/section01_onePOneActive.png');
                        }
                        .category02{
                            background-image: url('../../images/section01_twoPOneActive.png');
                        }
                        .category03{
                            background-image: url('../../images/section01_newActive.png');
                        }

                        .text{
                            color: white;
                        }
                    }

                    & > i{
                        color: white;
                    }

                    &:hover{
                        background-color: #fac933;
                        width: 276px;
                    }
                }
            }
        }

        & > .item-wrapper{
            .sec01-item.on{
                display: block;
            }
            .sec01-item{
                display: none;

                .sec01-item-slide{
                    width: 960px;
                    height: 100%;
    
                    .swiper-wrapper{
                        padding: 10px;
                        box-sizing: border-box;
    
                        .swiper-slide{
                            cursor: pointer;
    
                            &:hover .img-box{
                                border-color: transparent;
                            }
                            &:hover .img-box > img{
                                transform: scale(1.1);
                            }
                            &:hover .img-box:before{
                                opacity: 1;
                            }
    
                            .badge-box{
                                width: 100%;
                                position: absolute;
                                top: 0px;
    
                                .badge-new{
                                    width: 36px;
                                    height: 22px;
                                    border: solid 1px $gray;
                                    border-radius: 8px;
                                    border-bottom-right-radius: 0px;
                                    color: $gray;
                                    font-size: 12px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 15px;
                                    left: 15px;
                                    display: none;
                                }
    
                                .badge-new.on{
                                    display: flex;
                                }
    
                                .badge-plus{
                                    width: 32px;
                                    height: 24px;
                                    border-radius: 8px;
                                    border-bottom-left-radius: 0px;
                                    background-color: $yellow;
                                    color: white;
                                    font-size: 12px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 15px;
                                    right: 28px;
                                    display: none;
                                }
    
                                .badge-plus.on{
                                    display: flex;
                                }
                            }
    
                            .img-box{
                                width: 93%;
                                height: 275px;
                                padding-top: 40px;
                                border: solid 1px $grayLight;
                                border-radius: 25px;
                                box-sizing: border-box;
                                background-color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                & > img{
                                    width: 80%;
                                    transition: 0.1s;
                                    
                                }
    
                                &:before{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: -4px;
                                    width: 93%;
                                    height: 275px;
                                    border: solid 4px $yellow;
                                    border-radius: 30px;
                                    opacity: 0;
                                    transition: 0.1s;
                                }
                            }
    
                            .text-box{
                                width: 92%;
                                height: 62px;
                                position: relative;
                                margin-top: 20px;
                                font-size: 15px;
                                text-align: center;
                                letter-spacing: -0.5px;
                                line-height: 1.3;
    
                                .item-name{
                                    font-weight: 500;
                                    color: $grayDark;
    
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
    
                                .price{
                                    position: absolute;
                                    bottom: 0px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    color: $red;
                                }
                            }
                        }
                    }
                }
    
                .sec01-pagination{
                    position: relative;
                    bottom: -30px;
    
                    .swiper-pagination-bullet{
                        width: 12px;
                        height: 12px;
                        background-color: #c1c1c1;
                    }
                    .swiper-pagination-bullet-active{
                        width: 12px;
                        height: 12px;
                        background-color: $yellow;
                    }
                }
            }
        }
    }//section01-container

    .section02-container{
        margin-top: 180px;
        transform: translateY(300px);
        opacity: 0;
        transition: 0.5s;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }

        .inner{
            .title-box{
                margin-bottom: 50px;

                & > h2{
                    color: black;
                    font-size: 48px;
                }

                & > .text{
                    color: $yellow;
                    font-size: 16px;
                    margin-top: 20px;
                }
            }

            & > .item-wrapper{
                .sec02-slide-container{
                    padding-top: 30px;
                    box-sizing: border-box;

                    .swiper-wrapper{
                        .item{
                            height: 500px;
                            border: solid 1px $grayLight;
                            border-radius: 20px;
                            box-sizing: border-box;
                            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
                            position: relative;
                            top: 0px;
                            transition: 0.2s;
        
                            &:hover{
                                position: relative;
                                top: -30px;
                                border: solid 4px $yellow;
                            }
        
                            &:hover .img-box > img{
                                transform: scale(1.1);
                            }
        
                            .img-box{
                                width: 100%;
                                border-radius: 20px;
                                border-top-left-radius: 16px;
                                border-top-right-radius: 16px;
                                overflow: hidden;
        
                                & > img{
                                    width: 100%;
                                    transition: 0.2s;
                                }
                            }
        
                            .text-box{
                                width: 100%;
                                text-align: center;
        
                                & > img{
                                    height: 56px;
                                }
        
                                & > .title{
                                    color: $grayDark;
                                    font-size: 20px;
                                    font-weight: 500;
                                    margin: 25px 0px 20px;
                                }
        
                                & > .text{
                                    color: $gray;
                                    font-size: 17px;
                                    font-weight: 400;
                                    letter-spacing: -0.5px;
                                }
                            }
                        }
                    }
                }


            }
        }
    }//section02-container

    .section03-container{
        width: 100%;
        height: 950px;
        margin-top: 240px;
        overflow: hidden;

        .inner{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .sec03-title-box{
                margin-bottom: 32px;
                transform: translateY(300px);
                opacity: 0;
                transition: 0.5s;

                &.active{
                    transform: translateY(0);
                    opacity: 1;
                }

                & > h2{
                    font-size: 48px;
                    margin-bottom: 20px;
                }

                & > p{
                    color: $grayDark;
                }
            }

            .sec03-item-wrapper{
                display: flex;
                gap: 16px;
                transform: translateY(300px);
                opacity: 0;
                transition: 0.5s;

                &.active{
                    transform: translateY(0);
                    opacity: 1;
                }

                & > .item{
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 416px;
                    height: 428px;
                    padding: 26px;
                    box-sizing: border-box;
                    border-radius: 35px;
                    position: relative;
                    top: 12px;
                    transition: 0.2s;
                    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.05);

                    &:hover{
                        background-color: #f9f9f9;
                        top: 0px;
                    }

                    &:hover .sec03-img-calender{
                        padding-bottom: 14px;
                    }

                    .description{
                        .item-title-box{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 28px;
    
                            .item-title{
                                color: black;
                                font-size: 28px;
                                font-weight: 500;
                            }
    
                            & > img{
                                width: 40px;
                            }
                        }
    
                        .item-text{
                            color: black;
                            font-size: 17px;
                            line-height: 1.4;
                        }
                    }

                    & > .img-box{
                        width: 100%;

                        & > img{
                            width: 100%;
                            transition: 0.5s;
                        }

                        .sec03-img-idea{
                            animation-duration: 1000ms;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;

                            &.on{
                                animation-name: sec03AniIdea;
                            }
                        }

                        .sec03-img-coins{
                            z-index: 1;
                            animation-duration: 2000ms;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-out;

                            &.on{
                                animation-name: sec03AniCoins;
                            }
                        }

                        .sec03-img-coin{
                            z-index: 1;
                            animation-duration: 2000ms;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-in-out;

                            &.on{
                                animation-name: sec03AniCoin;
                            }
                        }

                        .sec03-img-chat{
                            animation-duration: 1000ms;
                            animation-iteration-count: infinite;
                            animation-direction: alternate-reverse;

                            &.on{
                                animation-name: sec03AniChat;
                            }
                        }
                    }

                    .calender-img-box{
                        width: 100%;
                        position: relative;

                        & > img{
                            width: 100%;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                        }
                    }
                }
            }

            .section03-bg{
                width: 3000px;
                height: 950px;
                background: linear-gradient(90deg, #fece6a 7.62%, rgba(254, 207, 106, 0.591) 1280px, #fff);
                position: absolute;
                top: 0px;
                left: -6.666vw;
                z-index: -1;
                border-top-left-radius: 65px;
                border-bottom-left-radius: 170px;
                transform: translateX(300px);
                opacity: 0;
                transition: 0.5s;

                &.active{
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }//section03-container

    .section04-container{
        margin-top: 135px;
        transform: translateY(300px);
        opacity: 0;
        transition: 0.5s;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }

        .inner{
            .section04-title{
                font-size: 48px;
                margin-bottom: 60px;
            }

            .section04-search-bar{
                width: 732px;
                position: relative;

                & > input{
                    width: 100%;
                    height: 68px;
                    border: solid 2px $yellow;
                    border-radius: 10px;
                    border-bottom-left-radius: 30px;
                    font-family: 'Noto Sans KR';
                    font-size: 24px;
                    color: $grayDark;
                    text-indent: 20px;
                }

                & > button{
                    width: 30px;
                    height: 31px;
                    border: none;
                    background: none;
                    position: absolute;
                    top: 50%;
                    right: 35px;
                    transform: translateY(-50%);
                    cursor: pointer;

                    & > img{
                        width: 300%;
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .map-btn-wrapper{
                display: flex;
                gap: 16px;
                margin-top: 20px;

                & > li{
                    a{
                        width: 134px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 15px;
                        border-top-right-radius: 0px;
                        background-color: $grayLight;
                        color: black;
                        font-size: 17px;
                        font-weight: 500;
                        transition: 0.2s;

                        &:hover{
                            background-color: $yellow;
                        }
                    }
                }
            }

            .section04-img-box{
                & > img{
                    width: 420px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
                
                .sec04-img-pin{
                    animation-name: sec04AniPin;
                    animation-duration: 800ms;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
            }
        }
    }//section04-container

    .section05-container{
        width: 100%;
        height: 950px;
        margin-top: 170px;
        overflow: hidden;

        .inner{
            display: flex;
            align-items: center;
            gap: 130px;

            .sec05-img-box{
                width: 625px;
                transform: translateY(300px);
                opacity: 0;
                transition: 0.5s;

                &.active{
                    transform: translateY(0);
                    opacity: 1;
                }

                & > img{
                    width: 100%;
                }

                .mobile-img{
                    display: none;
                }
            }

            .sec05-text-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 95px;
                text-align: center;
                transform: translateY(300px);
                opacity: 0;
                transition: 0.5s;

                &.active{
                    transform: translateY(0);
                    opacity: 1;
                }

                .sec05-title-box{
                    & > p{
                        color: $yellow;
                        font-size: 20px;
                    }

                    & > h2{
                        margin: 14px 0px 30px 0px;
                        font-size: 48px;
                        line-height: 1.5;
                    }

                    & > a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        color: $grayDark;
                        font-size: 15px;
                        font-weight: 500;

                        &:hover{
                            color: $yellow;
                        }

                        & > img{
                            width: 24px;
                        }
                    }
                }

                .app-download-btn-box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 18px;

                    & > a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        width: 196px;
                        height: 58px;
                        background-color: $yellow;
                        border-radius: 10px;
                        color: black;
                        transition: 0.2s;

                        &:hover{
                            transform: scale(0.95);
                        }

                        & > img{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            .section05-bg{
                width: 3000px;
                height: 950px;
                background: linear-gradient(270deg, #f2f2f2 5.25%, rgba(245, 244, 243, 0.45) 1280px, #fff);
                position: absolute;
                top: 0px;
                right: -6.666vw;
                z-index: -1;
                border-top-right-radius: 240px;
                border-bottom-right-radius: 70px;
                transform: translateX(-300px);
                opacity: 0;
                transition: 0.5s;

                &.active{
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }//section05-container

    .section06-container{
        margin-top: 164px;

        .inner{
            display: flex;
            justify-content: space-between;

            .sec06-title-box{
                margin-top: 30px;
                transform: translateY(300px);
                opacity: 0;
                transition: 0.5s;

                &.active{
                    transform: translateY(0);
                    opacity: 1;
                }

                .sec06-title{
                    & > h2{
                        font-size: 48px;
                        font-weight: 300;
                    }
    
                    .sec06-title-bold{
                        font-size: 48px;
                        font-weight: 700;
                    }
                }

                .sec06-text{
                    color: $yellow;
                    margin: 20px 0px 30px;
                }

                .sec06-sns-box{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    & > li{
                        a{
                            & > i{
                                color: $grayLight;
                                font-size: 26px;

                                &:hover{
                                    color: $gray;
                                }
                            }
                        }
                    }
                }
            }

            .sec06-slide-container{
                width: 930px;
                margin: 0px;

                .swiper-wrapper{
                    .sec06-slide-item{
                        cursor: pointer;

                        &:hover > .img-box{
                            border-color: $yellow;

                            & > img{
                                transform: translate(-50%, -50%) scale(1.1);
                            }
                        }

                        &:hover > .title-box{
                            .youtube-logo{
                                & > i{
                                    border-color: $yellow;
                                    background-color: #f9f9f9;
                                }
                            }

                            & > .text-box{
                                .platform, .title{
                                    color: $yellow;
                                }
                            }
                        }

                        & > .img-box{
                            height: 388px;
                            border: solid 4px white;
                            border-radius: 50px;
                            overflow: hidden;
                            transition: 0.3s;

                            & > img{
                                height: 100%;
                                position: relative;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                transition: 0.3s;
                            }
                        }

                        & > .title-box{
                            margin-top: 18px;
                            display: flex;
                            gap: 12px;

                            .youtube-logo{
                                & > i{
                                    color: #ed2123;
                                    font-size: 30px;
                                    border: solid 1px $grayLight;
                                    border-radius: 100%;
                                    padding: 10px;
                                    box-sizing: border-box;
                                    transition: 0.3s;
                                }
                            }

                            & > .text-box{
                                width: 80%;

                                .platform{
                                    font-size: 24px;
                                    font-weight: 300;
                                    margin: 12px 0px 16px;
                                    transition: 0.3s;
                                }
                                .title{
                                    color: $gray;
                                    font-size: 15px;
                                    line-height: 1.4;
                                    transition: 0.3s;
                                    letter-spacing: -0.5px;

                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }



                            }
                        }
                    }

                    .sec06-slide-item01{
                        left: -150px;
                        opacity: 0;
                        transition: 0.5s;

                        &.active{
                            left: 0px;
                            opacity: 1;
                        }
                    }

                    .sec06-slide-item02{
                        bottom: -150px;
                        opacity: 0;
                        transition: 0.5s;

                        &.active{ 
                            bottom: 0px; 
                            opacity: 1; 
                        } 
                    }

                    .sec06-slide-item03{
                        top: -150px;
                        opacity: 0;
                        transition: 0.5s;

                        &.active{
                            top: 0px;
                            opacity: 1;
                        }
                    }

                    .sec06-slide-item01,
                    .sec06-slide-item05{
                        & > .img-box{
                            border-bottom-left-radius: 0px;
                        }
                    }

                    .sec06-slide-item02,
                    .sec06-slide-item04,
                    .sec06-slide-item06{
                        margin-top: 64px;
                    }

                    .sec06-slide-item03,
                    .sec06-slide-item06{
                        & > .img-box{
                            border-top-right-radius: 0px;
                        }
                    }
                }

                .sec06-slide-handle-left,
                .sec06-slide-handle-right{
                    font-size: 35px;
                    font-weight: 100;
                    color: $grayDark;
                    position: absolute;
                    top: 40%;
                    z-index: 1;
                    padding: 8px;
                    box-sizing: border-box;
                    border: solid 1px $gray;
                    border-radius: 100%;
                    background-color: rgba(255, 255, 255, 0.7);
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover{
                        background-color: white;
                        transform: scale(0.95);
                    }
                }

                .sec06-slide-handle-left{
                    left: 20px;
                }

                .sec06-slide-handle-right{
                    right: 20px;
                }
            }
        }
    }//section06-container

    .section07-container{
        margin: 170px 0px;
        transform: translateY(300px);
        opacity: 0;
        transition: 0.5s;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }

        .inner{
            display: flex;
            justify-content: space-between;

            .section07-wrapper{
                width: 49.5%;
                padding: 30px;
                box-sizing: border-box;
                border-radius: 30px;
                box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.06);

                & > .title-box{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 25px;

                    .section07-title{
                        font-size: 20px;
                        font-weight: 500;
                    }

                    & > a{
                        color: $grayDark;
                        font-size: 15px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        transition: 0.2s;

                        &:hover{
                            color: $yellow;
                        }

                        & > img{
                            width: 24px;
                            margin-left: 6px;
                        }
                    }
                }

                & > ul{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .section07-item{
                        & > a{
                            display: flex;
                            justify-content: space-between;

                            &:hover > p{
                                color: $yellow;
                            }

                            & > p{
                                color: $gray;
                                font-size: 15px;
                                letter-spacing: -0.5px;
                                transition: 0.2s;

                                &:first-of-type{
                                    width: 80%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }//.section07-container
}


//section03 animation
@keyframes sec03AniIdea{
    0%{
        padding-bottom: 0px;
        filter: grayscale(0%);
    }
    25%{
        filter: grayscale(50%);
    }
    50%{
        filter: grayscale(80%);
    }
    60%{
        filter: grayscale(50%);
    }
    75%{
        filter: grayscale(20%);
    }
    77%{
        filter: grayscale(50%);
    }
    100%{
        padding-bottom: 14px;
        filter: grayscale(80%);
    }
}

@keyframes sec03AniCoins{
    0%{
        bottom: 140px;
        opacity: 0;
    }

    30%{
        bottom: 0px;
        opacity: 1;
    }

    60%{
        opacity: 0;
    }

    70%{
        bottom: -80px;
    }

    100%{
        opacity: 0;
    }
}

@keyframes sec03AniCoin{
    0%{
        bottom: 140px;
        opacity: 0;
    }

    50%{
        bottom: 0px;
        opacity: 1;
    }

    80%{
        opacity: 0;
    }

    90%{
        bottom: -80px;
    }

    100%{
        opacity: 0;
    }
}

@keyframes sec03AniChat{
    0%{
        padding-bottom: 0px;
    }

    100%{
        padding-bottom: 20px;
        filter: brightness(103%);
    }
}

//section04 animation
@keyframes sec04AniPin{
    0%{
        top: 0px;
    }

    100%{
        top: -30px;
    }
}