.main-container{
    padding-top: 118px;
    box-sizing: border-box;

    .visual-container{
        .visual-wrapper{
            width: 1440px;
            height: 100%;
            margin: 0px auto;
            position: relative;

            .visual-slide-container{
                width: 100%;
                height: 495px;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.1);

                .swiper-wrapper{
                    .swiper-slide{
                        & > a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .slide-nav-wrapper{
                width: 412px;
                height: 70px;
                border: solid 1px #ebebeb;
                border-radius: 15px;
                background-color: white;
                position: absolute;
                left: 100px;
                bottom: -36px;
                z-index: 1;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);

                .slide-btn-box{
                    display: flex;
                    align-items: center;
                    gap: 22px;
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    transform: translateY(-50%);

                    i{
                        color: $grayDark;
                        cursor: pointer;

                        &:hover{
                            color: $yellow;
                        }
                    }

                    .bx-chevron-right{
                        font-size: 26px;
                        display: none;
                    }

                    .bx-pause{
                        font-size: 26px;
                    }

                    .bx-left-arrow-alt,
                    .bx-right-arrow-alt{
                        font-size: 22px;
                    }
                }

                .slide-page-box{
                    width: 220px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    right: 25px;
                    transform: translateY(-50%);

                    .visual-pagination-fraction{
                        width: 100%;
                        height: 100%;
                        color: white;
                        position: relative;
                        top: -2px;
    
                        .swiper-pagination-current{
                            font-size: 15px;
                            color: $yellow;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 10px;
                        }
    
                        .swiper-pagination-total{
                            font-size: 15px;
                            color: $gray;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                        }
                    }
    
                    .visual-pagination-progressbar{
                        width: 165px;
                        height: 2px;
                        background-color: #ebebeb;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
    
                        span{
                            background-color: $yellow;
                        }
                    }
                }
            }
        }
    }//visual-container

    .section01-container{
        margin-top: 130px;
        display: flex;
        justify-content: center;
        gap: 36px;

        .text-wrapper{
            .title-box{
                & > h2{
                    color: $grayDark;
                    font-size: 45px;
                    letter-spacing: -1px;
                }

                & > a{
                    color: $grayDark;
                    font-size: 15px;
                    font-weight: 500;
                    letter-spacing: -0.5px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 25px 0px 40px;

                    & > img{
                        width: 24px;
                    }
                }
            }

            .category-box{
                display: flex;
                flex-direction: column;
                gap: 16px;

                & > li{
                    width: 285px;
                    height: 52px;
                    padding: 0px 24px 0px 16px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    border-bottom-left-radius: 22px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: 0.3s;
                    cursor: pointer;

                    .category-name{
                        display: flex;
                        align-items: center;
                        gap: 14px;

                        .icon{
                            width: 18px;
                            height: 18px;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: 90%;   
                        }

                        .category01{
                            background-image: url('../../images/section01_onePOne.png');
                        }
                        .category02{
                            background-image: url('../../images/section01_twoPOne.png');
                        }
                        .category03{
                            background-image: url('../../images/section01_new.png');
                        }

                        .text{
                            color: $gray;
                            font-size: 16px;
                            transition: 0.3s;
                        }
                    }

                    & > i{
                        color: $grayDark;
                    }

                    &:hover{
                        background-color: $yellow;
                        box-shadow: 0px 8px 20px rgba(249, 187, 0, 0.3);
                    }

                    &:hover .text{
                        color: white;
                    }
                }

                & > li.on{
                    background-color: $yellow;
                    box-shadow: 0px 8px 20px rgba(249, 187, 0, 0.3);

                    .category-name{
                        .category01{
                            background-image: url('../../images/section01_onePOneActive.png');
                        }
                        .category02{
                            background-image: url('../../images/section01_twoPOneActive.png');
                        }
                        .category03{
                            background-image: url('../../images/section01_newActive.png');
                        }

                        .text{
                            color: white;
                        }
                    }

                    & > i{
                        color: white;
                    }

                    &:hover{
                        background-color: #fac933;
                        width: 276px;
                    }
                }
            }
        }

        & > .item-wrapper{
            .sec01-item.on{
                display: block;
            }
            .sec01-item{
                display: none;

                .sec01-item-slide{
                    width: 960px;
                    height: 100%;
    
                    .swiper-wrapper{
                        padding: 10px;
                        box-sizing: border-box;
    
                        .swiper-slide{
                            cursor: pointer;
    
                            &:hover .img-box{
                                border-color: transparent;
                            }
                            &:hover .img-box > img{
                                transform: scale(1.1);
                            }
                            &:hover .img-box:before{
                                opacity: 1;
                            }
    
                            .badge-box{
                                width: 100%;
                                position: absolute;
                                top: 0px;
    
                                .badge-new{
                                    width: 36px;
                                    height: 22px;
                                    border: solid 1px $gray;
                                    border-radius: 8px;
                                    border-bottom-right-radius: 0px;
                                    color: $gray;
                                    font-size: 12px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 15px;
                                    left: 15px;
                                    display: none;
                                }
    
                                .badge-new.on{
                                    display: flex;
                                }
    
                                .badge-plus{
                                    width: 32px;
                                    height: 24px;
                                    border-radius: 8px;
                                    border-bottom-left-radius: 0px;
                                    background-color: $yellow;
                                    color: white;
                                    font-size: 12px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 15px;
                                    right: 28px;
                                    display: none;
                                }
    
                                .badge-plus.on{
                                    display: flex;
                                }
                            }
    
                            .img-box{
                                width: 93%;
                                height: 275px;
                                padding-top: 40px;
                                border: solid 1px $grayLight;
                                border-radius: 25px;
                                box-sizing: border-box;
                                background-color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                & > img{
                                    width: 80%;
                                    transition: 0.1s;
                                    
                                }
    
                                &:before{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: -4px;
                                    width: 93%;
                                    height: 275px;
                                    border: solid 4px $yellow;
                                    border-radius: 30px;
                                    opacity: 0;
                                    transition: 0.1s;
                                }
                            }
    
                            .text-box{
                                width: 92%;
                                height: 62px;
                                position: relative;
                                margin-top: 20px;
                                font-size: 15px;
                                text-align: center;
                                letter-spacing: -0.5px;
                                line-height: 1.3;
    
                                .item-name{
                                    font-weight: 500;
                                    color: $grayDark;
    
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
    
                                .price{
                                    position: absolute;
                                    bottom: 0px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    color: $red;
                                }
                            }
                        }
                    }
                }
    
                .sec01-pagination{
                    position: relative;
                    bottom: -30px;
    
                    .swiper-pagination-bullet{
                        width: 12px;
                        height: 12px;
                        background-color: #c1c1c1;
                    }
                    .swiper-pagination-bullet-active{
                        width: 12px;
                        height: 12px;
                        background-color: $yellow;
                    }
                }
            }
        }
    }//section01-container

    .section02-container{
        margin-top: 180px;

        .inner{
            .title-box{
                margin-bottom: 50px;

                & > h2{
                    color: black;
                    font-size: 48px;
                }

                & > .text{
                    color: $yellow;
                    font-size: 16px;
                    margin-top: 20px;
                }
            }

            & > .item-wrapper{
                .sec02-slide-container{
                    padding-top: 30px;
                    box-sizing: border-box;

                    .swiper-wrapper{
                        .item{
                            height: 500px;
                            border: solid 1px $grayLight;
                            border-radius: 20px;
                            box-sizing: border-box;
                            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
                            position: relative;
                            top: 0px;
                            transition: 0.2s;
        
                            &:hover{
                                position: relative;
                                top: -30px;
                                border: solid 4px $yellow;
                            }
        
                            &:hover .img-box > img{
                                transform: scale(1.1);
                            }
        
                            .img-box{
                                width: 100%;
                                border-radius: 20px;
                                border-top-left-radius: 16px;
                                border-top-right-radius: 16px;
                                overflow: hidden;
        
                                & > img{
                                    width: 100%;
                                    transition: 0.2s;
                                }
                            }
        
                            .text-box{
                                width: 100%;
                                text-align: center;
        
                                & > img{
                                    height: 56px;
                                }
        
                                & > .title{
                                    color: $grayDark;
                                    font-size: 20px;
                                    font-weight: 500;
                                    margin: 25px 0px 20px;
                                }
        
                                & > .text{
                                    color: $gray;
                                    font-size: 17px;
                                    font-weight: 400;
                                    letter-spacing: -0.5px;
                                }
                            }
                        }
                    }
                }


            }
        }
    }//section02-container
}