.header-container{
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
    width: 100%;

    .header-wrapper{
        width: 1440px;
        height: 100%;
        margin: 0px auto;
        position: relative;

        .header-top{
            width: 100%;
            height: 28px;
            padding-right: 105px;
            box-sizing: border-box;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 17px;
            transition: 0.2s;

            & > a{
                color: $gray;
                font-size: 12px;
                letter-spacing: -0.5px;
            }
        }//header-top

        .header-bottom{
            width: 100%;
            height: 90px;
            display: flex;
            align-items: center;
            position: relative;

            h1{
                width: 115px;
                position: absolute;
                left: 80px;

                .logo{
                    width: 100%;
                }
            }

            .gnb-wrapper{
                width: 100%;
                height: 100%;

                .gnb{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 90px;

                    & > li{
                        position: relative;

                        .main-menu{
                            color: $grayDark;
                            font-size: 20px;
                            transition: 0.2s;

                            &:hover{
                                color: $yellow;
                            }
                        }

                        .sub-menu{
                            visibility: hidden;
                            width: 110px;
                            position: absolute;
                            top: 80px;
                            left: 0px;
                            display: flex;
                            flex-direction: column;
                            gap: 14px;

                            & > li a{
                                color: $grayLight;
                                font-size: 15px;
                                letter-spacing: -1px;

                                &:hover{
                                    color: $yellow;
                                }
                            }
                        }
                    }
                }
            }

            .gnb-btn{
                display: none;
                flex-direction: column;
                gap: 5px;

                i{
                    width: 18px;
                    height: 2px;
                    border-radius: 10px;
                    background-color: $yellow;
                }
            }
        }//header-bottom
    }

    .sub-menu-background{
        background-color: rgba(76, 77, 87, 0.85);
        width: 100%;
        height: 0px;
        transition: 0.2s;
        position: absolute;
        top: 118px;
        z-index: -1;
    }
}