@media screen and (max-width:1440px) {
    .header-container{
        .header-wrapper{
            .header-top{
                padding-right: 220px;
            }
            .header-bottom{
                h1{
                    left: 180px;
                }
                .gnb-wrapper{
                    .gnb{
                        gap: 56px;

                        & > li{
                            .main-menu{
                                font-size: 17px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }//header-container

    .main-container{
        .visual-container{
            .visual-wrapper{
                width: 1353px;
                
                .visual-slide-container{
                    height: 465px;
                }

                .slide-nav-wrapper{
                    left: 160px;
                }
            }
        }//visual-container

        .section01-container{
            .text-wrapper{
                .title-box{
                    & > h2{
                        font-size: 38px;
                    }
                }

                .category-box{
                    & > li{
                        width: 249px;
                    }

                    & > li.on{
                        &:hover{
                            width: 240px;
                        }
                    }
                }
            }

            .item-wrapper{
                .sec01-item{
                    .sec01-item-slide{
                        width: 780px;

                        .swiper-wrapper{
                            .swiper-slide{
                                .img-box{
                                    height: 250px;

                                    &:before{
                                        height: 250px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }//section01-container

        .section02-container{
            margin-top: 90px;

            .inner{
                width: 1040px;

                .title-box{
                    & > h2{
                        font-size: 38px;
                    }
                }

                & > .item-wrapper{
                    .sec02-slide-container{
                        .swiper-wrapper{
                            .item{
                                width: 248px;
                                height: 438px;
        
                                .text-box{
                                    & > .title{
                                        font-size: 17px;
                                        font-weight: 400;
                                        margin: 30px 0px 15px;
                                    }
                                    & > .text{
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }//section02-container

        .section03-container{
            height: 748px;

            .inner{
                width: 1040px;
                
                .sec03-title-box{
                    & > h2{
                        font-size: 38px;
                    }
                }

                .sec03-item-wrapper{
                    & > .item{
                        height: 378px;

                        .description{
                            .item-title-box{
                                .item-title{
                                    font-size: 24px;
                                }
                            }
                            .item-text{
                                font-size: 16px;
                            }
                        }
                    }
                }

                .section03-bg{
                    height: 748px;
                }
            }
        }//section03-container

        .section04-container{
            margin-top: 110px;

            .inner{
                width: 1040px;

                .section04-title{
                    font-size: 38px;
                }

                .section04-search-bar{
                    width: 506px;

                    & > input{
                        height: 68px;
                        font-size: 20px;
                    }

                    & > button{
                        right: 30px;
                    }
                }

                .map-btn-wrapper{
                    & > li{
                        a{
                            width: 90px;
                        }
                    }
                }
            }
        }//section04-container

        .section05-container{
            height: 830px;
            margin-top: 125px;

            .inner{
                width: 1040px;

                .sec05-img-box{
                    width: 536px;
                }

                .sec05-text-wrapper{
                    .sec05-title-box{
                        & > h2{
                            font-size: 38px;
                        }
                    }
                }

                .section05-bg{
                    height: 830px;
                }
            }
        }//section05-container

        .section06-container{
            margin-top: 160px;

            .inner{
                width: 1040px;

                .sec06-title-box{
                    .sec06-title{
                        & > h2{
                            font-size: 38px;
                        }

                        .sec06-title-bold{
                            font-size: 38px;
                        }
                    }
                }

                .sec06-slide-container{
                    width: 720px;

                    .swiper-wrapper{
                        .sec06-slide-item{
                            & > .img-box{
                                height: 330px;
                                border-radius: 30px;
                            }
                        }

                        .sec06-slide-item01,
                        .sec06-slide-item05{
                            & > .img-box{
                                border-bottom-left-radius: 0px;
                            }
                        }
    
                        .sec06-slide-item02,
                        .sec06-slide-item04,
                        .sec06-slide-item06{
                            margin-top: 64px;
                        }
    
                        .sec06-slide-item03,
                        .sec06-slide-item06{
                            & > .img-box{
                                border-top-right-radius: 0px;
                            }
                        }
                    }
                }
            }
        }//section06-container

        .section07-container{
            margin: 150px 0px;

            .inner{
                width: 1040px;
            }
        }//section07-container

    }//main-container
}

@media screen and (max-width:744px) {
    .header-container{
        .header-wrapper{
            width: 698px;

            .header-top{
                display: none;
            }
            .header-bottom{
                height: 62px;
                justify-content: end;

                h1{
                    width: 100px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .gnb-wrapper{
                    display: none;
                }

                .gnb-btn{
                    display: flex;
                }
            }
        }
    }//header-container

    .main-container{
        padding-top: 62px;

        .visual-container{
            .visual-wrapper{
                width: 700px;

                .visual-slide-container{
                    height: 334px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;

                    .swiper-wrapper{
                        .swiper-slide{
                            & > a{
                                img{
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .slide-nav-wrapper{
                    width: 95%;
                    height: 2px;
                    border: none;
                    border-radius: 0px;
                    background-color: transparent;
                    left: 50%;
                    bottom: -17px;
                    transform: translateX(-50%);

                    .slide-btn-box{
                        display: none;
                    }

                    .slide-page-box{
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        right: 0px;
                        transform: none;

                        .visual-pagination-fraction{
                            display: none;
                        }

                        .visual-pagination-progressbar{
                            width: 100%;
                            top: 0px;
                            left: 0px;
                            transform: none;
                        }
                    }
                }
            }
        }//visual-container

        .section01-container{
            margin-top: 80px;
            flex-direction: column;
            gap: 14px;

            .text-wrapper{
                padding: 0px 30px;
                box-sizing: border-box;

                .title-box{
                    margin-bottom: 12px;
                    display: flex;
                    justify-content: space-between;

                    & > h2{
                        font-size: 18px;
                        letter-spacing: 0px;
                    }

                    & > a{
                        font-size: 10px;
                        gap: 5px;
                        margin: 0px;

                        & > img{
                            width: 14px;
                        }
                    }
                }

                .category-box{
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 8px;

                    & > li{
                        width: 100%;
                        height: 40px;
                        padding: 0px;
                        border: solid 1px $grayLight;
                        border-radius: 16px;
                        justify-content: center;
                        box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.05);

                        .category-name{
                            gap: 8px;

                            .text{
                                font-size: 12px;
                            }
                        }

                        & > i{
                            display: none;
                        }
                    }

                    & > li.on{
                        box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.05);

                        &:hover{
                            width: 100%;
                        }
                    }
                }
            }

            .item-wrapper{
                .sec01-item{
                    .sec01-item-slide{
                        width: 667px;

                        .swiper-wrapper{
                            padding: 0px;

                            .swiper-slide{
                                .badge-box{
                                    .badge-new{
                                        width: 34px;
                                        height: 18px;
                                        font-size: 10px;
                                    }

                                    .badge-plus{
                                        width: 33px;
                                        height: 20px;
                                        font-size: 10px;
                                        font-weight: 300;
                                    }
                                }

                                .img-box{
                                    width: 100%;
                                    height: 178px;
                                    padding-top: 28px;
                                    border-radius: 18px;

                                    & > img{
                                        width: 42%;
                                    }

                                    &:before{
                                        width: calc(100% - 8px);
                                        height: 170px;
                                        box-sizing: content-box;
                                        border-radius: 18px;
                                        top: 0px;
                                    }
                                }

                                .text-box{
                                    width: 100%;
                                    height: 100%;
                                    margin-top: 15px;

                                    .item-name{
                                        font-weight: 400;
                                    }

                                    .price{
                                        position: static;
                                        font-weight: 600;
                                        transform: none;
                                        margin-top: 8px;
                                    }
                                }
                            }
                        }
                    }

                    .sec01-pagination{
                        bottom: -40px;
                    }
                }
            }
        }//section01-container

        .section02-container{
            .inner{
                width: 662px;

                .title-box{
                    margin-bottom: 10px;

                    & > h2{
                        font-size: 18px;
                    }

                    & > .text{
                        display: none;
                    }
                }

                & > .item-wrapper{
                    .sec02-slide-container{
                        padding-top: 10px;

                        .swiper-wrapper{
                            .item{
                                height: 480px;

                                &:hover{
                                    top: -10px;
                                }

                                &:hover .img-box > img{
                                    transform: scale(1.1) translateY(-50%);
                                }

                                .img-box{
                                    height: 330px;

                                    & > img{
                                        position: relative;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }
                                }

                                .text-box{
                                    & > .title{
                                        font-size: 15px;
                                        margin: 6px 0px 16px;
                                    }

                                    & > .text{
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }//section02-container

        .section03-container{
            margin-top: 50px;
            height: 558px;

            .inner{
                width: 662px;
                justify-content: center;

                .sec03-title-box{
                    margin-bottom: 38px;

                    & > h2{
                        font-size: 18px;
                        margin-bottom: 0px;
                    }

                    & > p{
                        display: none;
                    }
                }

                .sec03-item-wrapper{
                    flex-direction: column;
                    
                    & > .item{
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        height: 140px;
                        border-radius: 25px;
                        top: 4px;

                        &:hover .img-box{
                            margin-right: 30px;
                        }

                        .description{
                            .item-title-box{
                                margin-bottom: 10px;

                                .item-title{
                                    font-size: 16px;
                                }
    
                                & > img{
                                    display: none;
                                }
                            }

                            .item-text{
                                color: $gray;
                                font-size: 14px;
                                line-height: 1.7;
                            }
                        }

                        & > .img-box{
                            width: 154px;
                            transition: 0.1s;

                            & > img{
                                position: relative;
                                right: -32px;
                            }
                        }

                        .calender-img-box{
                            top: 50%;
                            right: -32px;

                            & > img{
                                position: absolute;
                            }
                        }
                    }
                }

                .section03-bg{
                    height: 558px;
                    background: #ffebc1;
                    left: -20px;
                    border-radius: 0px;
                }
            }

        }//section03-container

        .section04-container{
            margin-top: 120px;

            .inner{
                width: 662px;

                .section04-title{
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                .section04-search-bar{
                    width: 99%;

                    & > input{
                        height: 46px;
                        border-radius: 18px;
                        font-size: 14px;
                        text-indent: 12px;
                    }

                    & > button{
                        right: 10px;

                        & > img{
                            width: 210%;
                        }
                    }
                }

                .map-btn-wrapper{
                    & > li{
                        a{
                            width: 120px;
                            font-size: 15px;
                        }
                    }
                }

                .section04-img-box{
                    display: none;
                }
            }
        }//section04-container

        .section05-container{
            height: 158px;
            margin-top: 110px;

            .inner{
                width: 662px;
                padding: 10px;
                box-sizing: border-box;
                gap: 2%;

                .sec05-img-box{
                    width: 20%;

                    & > img{
                        display: none;
                    }

                    .mobile-img{
                        display: block;
                    }
                }

                .sec05-text-wrapper{
                    width: 78%;
                    gap: 16px;

                    .sec05-title-box{
                        & > p, & > a{
                            display: none;
                        }

                        & > h2{
                            font-size: 18px;
                            font-weight: 500;
                            margin: 0px;
                        }
                    }

                    .app-download-btn-box{
                        width: 100%;

                        & > a{
                            width: 100%;
                            height: 48px;
                        }

                        & > p{
                            display: none;
                        }
                    }
                }

                .section05-bg{
                    width: 100%;
                    height: 100%;
                    background: #F3F3F3;
                    right: 0px;
                    border: solid 1px $grayLight;
                    border-radius: 15px;
                }
            }
        }//section05-container

        .section06-container{
            margin-top: 100px;

            .inner{
                width: 662px;
                flex-direction: column;
                // justify-content: flex-start;
                gap: 20px;

                .sec06-title-box{
                    margin-top: 0px;

                    .sec06-title{
                        display: flex;
                        gap: 4px;

                        & > h2{
                            font-size: 18px;
                            font-weight: 700;
                        }

                        .sec06-title-bold{
                            font-size: 18px;
                        }
                    }

                    .sec06-text{
                        display: none;
                    }

                    .sec06-sns-box{
                        display: none;
                    }

                }

                .sec06-slide-container{
                    width: 100%;

                    .swiper-wrapper{
                        .sec06-slide-item{
                            & > .img-box{
                                border-radius: 25px;
                            }

                            & > .title-box{
                                margin-top: 10px;
                                gap: 5px;

                                .youtube-logo{
                                    & > i{
                                        font-size: 16px;
                                        border: none;
                                        padding: 5px;
                                    }
                                }

                                & > .text-box{
                                    width: 100%;

                                    .platform{
                                        font-size: 18px;
                                        color: $grayDark;
                                        margin: 2px 0px 8px;
                                    }
                                    .title{
                                        font-size: 13px;
                                        position: relative;
                                        left: -26px;
                                        width: 110%;
                                    }
                                }
                            }
                        }

                        .sec06-slide-item02,
                        .sec06-slide-item04,
                        .sec06-slide-item06{
                            margin-top: 0px;
                        }
                    }

                    .sec06-slide-handle-left,
                    .sec06-slide-handle-right{
                        display: none;
                    }
                }
            }
        }//section06-container

        .section07-container{
            margin: 100px 0px;

            .inner{
                width: 662px;
                flex-direction: column;
                gap: 16px;

                .section07-wrapper{
                    width: 100%;
                    padding: 20px;
                    border-radius: 16px;

                    & > .title-box{
                        margin-bottom: 22px;

                        .section07-title{
                            font-size: 16px;
                        }

                        & > a{
                            font-size: 12px;

                            & > img{
                                width: 14px;
                            }
                        }
                    }

                    & > ul{
                        gap: 16px;

                        .section07-item{
                            & > a{
                                & > p{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }//section07-container

    }//main-container
}