@media screen and (max-width:1440px) {
    .header-container{
        .inner{
            .header-top{
                padding-right: 220px;
            }
            .header-bottom{
                h1{
                    left: 180px;
                }
                .gnb-wrapper{
                    .gnb{
                        gap: 56px;

                        & > li{
                            .main-menu{
                                font-size: 17px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }//header-container

    .main-container{
        .visual-wrapper{
            .inner{
                width: 1353px;
                
                .slide-container{
                    height: 465px;
                }

                .slide-nav-wrapper{
                    left: 200px;
                }
            }
        }//visual-wrapper


    }//main-container
}

@media screen and (max-width:744px) {
    .header-container{
        .inner{
            width: 698px;

            .header-top{
                display: none;
            }
            .header-bottom{
                height: 62px;
                justify-content: end;

                h1{
                    width: 100px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .gnb-wrapper{
                    display: none;
                }

                .gnb-btn{
                    display: flex;
                }
            }
        }
    }//header-container

    .main-container{
        padding-top: 62px;

        .visual-wrapper{
            .inner{
                width: 700px;

                .slide-container{
                    height: 334px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;

                    .swiper-wrapper{
                        .swiper-slide{
                            & > a{
                                img{
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .slide-nav-wrapper{
                    width: 95%;
                    height: 2px;
                    border: none;
                    border-radius: 0px;
                    background-color: transparent;
                    left: 50%;
                    bottom: -17px;
                    transform: translateX(-50%);

                    .slide-btn-box{
                        display: none;
                    }

                    .slide-page-box{
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        right: 0px;
                        transform: none;

                        .pagination_fraction{
                            display: none;
                        }

                        .pagination_progressbar{
                            width: 100%;
                            top: 0px;
                            left: 0px;
                            transform: none;
                        }
                    }
                }
            }
        }//visual-wrapper


    }//main-container
}