::selection{
    background: $yellow;
    color: white;
}

::placeholder{
    color: #d1d1d1;
}

body, html{
    font-family: 'Noto Sans KR', sans-serif;
}

.inner{
    width: 1280px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    border: none;
    z-index: -1;
}